
 
<main>
  <section class="hero">
    <h1>Welcome to Pharma Management</h1>
    <p>Your solution to manage pharmaceutical products and orders.</p>
    <!-- <button mat-raised-button color="accent">Explore More</button>    -->
  </section>


  <!-- Carousel -->

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Image/napa.jpg" class="d-block w-100" alt="napa">
    </div>
    <div class="carousel-item">
      <img src="assets/Image/m2.jpg" class="d-block w-100" alt="m1">
    </div>
    <div class="carousel-item">
      <img src="assets/Image/m4.jpg" class="d-block w-100" alt="m2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<!-- Card -->

<!-- <app-card></app-card> -->
 <app-product-card></app-product-card>


<!-- Features -->

  <!-- <section class="features">
    <h2>Key Features</h2>
    <div class="feature-cards">
      <div class="card">
        <mat-icon>shopping_cart</mat-icon>
        <h3>Product Management</h3>
        <p>Manage products, stock, and pricing with ease.</p>
      </div>
      <div class="card">
        <mat-icon>assignment</mat-icon>
        <h3>Order Management</h3>
        <p>Track orders, shipments, and deliveries.</p>
      </div>
      <div class="card">
        <mat-icon>people</mat-icon>
        <h3>Customer Management</h3>
        <p>Manage customers and their order history.</p>
      </div>
    </div>
  </section> -->
</main>


