/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* Hero Section */
.hero {
  background-color: #f1f1f1;
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

button {
  margin-top: 20px;
}

/* Features Section */
.features {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.features h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  text-align: center;
}

.card mat-icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #00796b;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}



.carousel-inner {
    height: 400px;
  }

  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .carousel {
    max-width: 1000px;
    margin: 0 auto;
  }
