<div class="product-grid">
  
  <div class="product-card" *ngFor="let product of products">
    
    <img
      [src]="'http://localhost:8080/image/' + product.image"
      alt="{{ product.name }}"
      class="product-image"
    />
    

    <div class="product-info">
      <h3>{{ product.name }}</h3>
      <p>৳ {{ product.price }}</p>

      <div class="product-buttons">
        <button (click)="buyNow(product)">Order Now</button>
        <button (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
    
  </div>
</div>
